In [42]:
import pandas as pd

In [43]:
vine_df = pd.read_csv("/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RGYFDX8QXKEIR,4.0,0.0,0.0,N,N
1,R13CBGTMNV9R8Z,4.0,1.0,2.0,N,Y
2,R7DRFHC0F71O0,5.0,0.0,0.0,N,N
3,R27LUKEXU3KBXQ,5.0,1.0,1.0,N,Y
4,R1VXTPUYMNU687,5.0,1.0,2.0,N,N
...,...,...,...,...,...,...
5101688,RDI2BF4QD492Y,3.0,1.0,1.0,N,Y
5101689,R23UCERX5NG2ZU,1.0,0.0,0.0,N,N
5101690,REXVNT3PZM4YC,5.0,1.0,1.0,N,Y
5101691,RUBZ7PGT4XFCG,5.0,4.0,4.0,N,Y
5101692,R1KC5WONSFLDOQ,5.0,0.0,0.0,N,N

In [45]:
total_votes = vine_df[(vine_df["total_votes"] >= 20)]
total_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N
190,R4IAIDV5EE84W,1.0,8.0,21.0,N,Y
241,R26MB2DA7ROT4P,1.0,2.0,21.0,N,Y
...,...,...,...,...,...,...
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N
5101632,RCDBF5EIN5KHS,1.0,8.0,51.0,N,N
5101637,R1SPVI2AR5IHGF,1.0,11.0,46.0,N,N

In [50]:
# get percent of helpful votes
total_votes["helpful_votes_percentage"] = (total_votes["helpful_votes"]) / (total_votes["total_votes"])* 100
total_votes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y,76.595745
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y,61.538462
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N,77.777778
190,R4IAIDV5EE84W,1.0,8.0,21.0,N,Y,38.095238
241,R26MB2DA7ROT4P,1.0,2.0,21.0,N,Y,9.523810
...,...,...,...,...,...,...,...
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N,83.783784
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y,82.608696
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N,62.264151
5101632,RCDBF5EIN5KHS,1.0,8.0,51.0,N,N,15.686275
5101637,R1SPVI2AR5IHGF,1.0,11.0,46.0,N,N,23.913043

In [51]:
# percents over 50%
over50_votes = total_votes[(total_votes["helpful_votes_percentage"] >= 50)]
over50_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y,76.595745
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y,61.538462
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N,77.777778
368,RTRVYV0GWUTCK,5.0,18.0,25.0,N,Y,72.000000
394,R3QLZAI37SNOOC,2.0,30.0,31.0,N,Y,96.774194
...,...,...,...,...,...,...,...
5101525,R12UGECM0W7NU1,1.0,14.0,20.0,N,N,70.000000
5101528,R3E888STF6AQCC,1.0,30.0,58.0,N,N,51.724138
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N,83.783784
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y,82.608696
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N,62.264151

In [53]:
paid_votes = over50_votes[(over50_votes["vine"] == "Y")]
paid_votes

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase, helpful_votes_percentage]
Index: []

In [52]:
unpaid_votes = over50_votes[(over50_votes["vine"] == "N")]
unpaid_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y,76.595745
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y,61.538462
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N,77.777778
368,RTRVYV0GWUTCK,5.0,18.0,25.0,N,Y,72.000000
394,R3QLZAI37SNOOC,2.0,30.0,31.0,N,Y,96.774194
...,...,...,...,...,...,...,...
5101525,R12UGECM0W7NU1,1.0,14.0,20.0,N,N,70.000000
5101528,R3E888STF6AQCC,1.0,30.0,58.0,N,N,51.724138
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N,83.783784
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y,82.608696
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N,62.264151

In [54]:
total_paid = paid_votes["review_id"].count()
total_paid

0

In [55]:
total_unpaid = unpaid_votes["review_id"].count()
total_unpaid

65149

In [56]:
fivestar_paid = paid_votes[(paid_votes["star_rating"] == 5)].count()
fivestar_paid

review_id                   0
star_rating                 0
helpful_votes               0
total_votes                 0
vine                        0
verified_purchase           0
helpful_votes_percentage    0
dtype: int64

In [57]:
fivestar_unpaid = unpaid_votes[(unpaid_votes["star_rating"] == 5)].count()
fivestar_unpaid

review_id                   24673
star_rating                 24673
helpful_votes               24673
total_votes                 24673
vine                        24673
verified_purchase           24673
helpful_votes_percentage    24673
dtype: int64

In [59]:
percent_paid_fivestar = (fivestar_paid) / (total_paid) *100
percent_paid_fivestar

review_id                  NaN
star_rating                NaN
helpful_votes              NaN
total_votes                NaN
vine                       NaN
verified_purchase          NaN
helpful_votes_percentage   NaN
dtype: float64

In [60]:
percent_unpaid_fivestar = (fivestar_unpaid) / (total_unpaid) *100
percent_unpaid_fivestar

review_id                   37.871648
star_rating                 37.871648
helpful_votes               37.871648
total_votes                 37.871648
vine                        37.871648
verified_purchase           37.871648
helpful_votes_percentage    37.871648
dtype: float64